[submodule "lukso-network/pandora-execution-engine"]
	path = lukso-network/pandora-execution-engine
	url = git@github.com:lukso-network/pandora-execution-engine
[submodule "lukso-network/vanguard-consensus-engine"]
	path = lukso-network/vanguard-consensus-engine
	url = git@github.com:lukso-network/vanguard-consensus-engine
